<!-- 3. & 4. Add header / add new footer path inside partials-->
<%- include("partials/header"); -%>
<!-- 3. & 4. END -->

<!-- 1. Render home.ejs -->
<h1>Home</h1>
<!-- 1. END -->


<!-- 2.  Passing p text using key value pair -->
<p><%= startingContent %></p>
<!-- 2. END -->


<!-- 12.  add logging in the posts array inside de home page-->
<!-- <% console.log(posts); %> -->
<!-- 12. END -->  

<!-- 13. Testing for loop when posts increase-->

<% console.log(posts); %> 
<% for(var i=0; i<posts.length; i++)  {
    <%  console.log(posts[i].title); %> 
}; %> 

<!-- 13. END -->  


<!-- 3. & 4. Add footer / add new footer path inside partials-->
<%- include("partials/footer"); -%>
<!-- 3. & 4. END -->

